@charset "UTF-8";
/**
 * 
 * @authors Logan
 * @date    2016-12-20 08:50:40
 * @version 1.0
 */

.btns { width: 100%; height: 20px; margin: .4rem 0 .7rem; text-align: center; }
.btns a { display: inline-block; width: .48rem; height: .48rem; margin: 0 2px; }
.btns a img{ width: 100%; height: 100%; vertical-align: top;}

.pages { width: 100%; height: 20px; margin-bottom: 100px;text-align: center; }
.pages li{ display: inline-block; }
.pages span,.pages a{ display: inline-block; padding: 0 6px; border-radius: 3px; background: #7d7d7d; margin: 0 2px; font-size: 12px; line-height: 20px; color: #fff;}
.pages .active span{background:#e70014; color: #fff;}

.wrap { width: 6rem; margin: 0 auto; }
.sj-none{ display: none; }
.pc-none{ display: block; }
/* 首页 */
.header { position: relative; width: 100%; height: 44px; border-bottom: 1px solid #2a2d33; background: #1f2228; }
.header .logo { font-family: "宋体"; font-size: 16px; line-height: 44px; color: #fff; }
.header .logo span { position: relative; }
.header .logo span:after { position: absolute; bottom: -5px; left: 0; display: block; width: 100%; height: 2px; content: ""; background: #e6000f; }
.header .nav .nav-btn { width: .51rem; height: .34rem; margin-top: .25rem; background: url(../images/nav-btn.png) no-repeat; background-size: 100%; }
.header .nav ul { position: absolute; z-index: 99999; top: 45px; left: 0; display: none; width: 100%; height: 1.2rem; background: rgba(31, 34, 40,.95); }
.header .nav li { line-height: .7rem; float: left; width: 20%; height: 1.2rem; background-repeat: no-repeat; background-position: center; background-size: 100%; }
.header .nav li a { font-family: "宋体"; font-size: 14px; display: block; width: 100%; height: .7rem; padding-top: .6rem; text-align: center; color: #fff; }

.banner { width: 100%; height: 4.95rem; }
.banner .swiper-slide { width: 100%; height: 4.95rem; background-position: top center; background-size: auto 100%; }

.section { width: 100%; }
.section1 { padding-bottom: .25rem; }
.section1 h3 { font-family: "宋体"; font-size: 18px; font-style: italic; line-height: .9rem; padding-top: .15rem; text-align: center; color: #2d2829; }
.section1 .ballsWrap { position: relative; overflow: hidden; width: 100%; height: 3.5rem; background: url(../images/s1-bg.png) no-repeat center; background-size: 100% 100%; }
.section1 .ballsWrap .ball { position: absolute; display: table; text-align: center; color: #fff; border-radius: 50%; }
.section1 .ballsWrap .ball span { display: block; width: 100%; height: 100%; border-radius: 50%; }
.section1 .ballsWrap .ball span img{ width: 100%; }
.section1 .ballsWrap .balla span { background: #cbcbcb; }
.section1 .ballsWrap .balla span.active { background: #32373d; }
.section1 .ballsWrap .ballb span { background: #32373d; }
.section1 .ballsWrap .ballb span.active { background: #cbcbcb; }
.section1 .ballsWrap .ball1 { top: 1.3rem; left: .2rem; width: .7rem; height: .7rem; }
.section1 .ballsWrap .ball2 { top: 1.04rem; left: 1.24rem; width: .9rem; height: .9rem; }
.section1 .ballsWrap .ball3 { top: .3rem; left: 2.48rem; width: .84rem; height: .84rem; }
.section1 .ballsWrap .ball4 { top: 1.78rem; left: 2.74rem; width: 1.24rem; height: 1.24rem; }
.section1 .ballsWrap .ball5 { top: 1.04rem; left: 4rem; width: .8rem; height: .8rem; }
.section1 .ballsWrap .ball6 { top: 0; right: .3rem; width: .78rem; height: .78rem; }
.section1 .ballsWrap .ball7 { top: 1.35rem; right: .34rem; width: 1.04rem; height: 1.04rem; }

.ad { width: 100%; }
.ad1{ background: url(../images/ad1-phone.png) no-repeat top center; height: .86rem; background-size: 100%; margin-bottom: .25rem; }
.ad2{ background: url(../images/ad2-phone.png) no-repeat top center; height: .8rem; background-size: 100%; }

.section2 { padding-top: .38rem; background: url(../images/s2-bg.png) no-repeat top center; background-size: auto .36rem; }
.section .sTitle { text-align: center; background-repeat: no-repeat; background-position: top center; background-size: 1.66rem; }
.section .sTitle .p1 { font-family: "Helvetica"; font-size: 1.2rem; line-height: 1.2rem; color: #1f2229; }
.section .sTitle .p2 { font-family: "Sakkal Majalla"; font-size: .12rem; font-weight: bold; line-height: .18rem; letter-spacing: 2px; text-transform: uppercase; color: #000; }
.section .sTitle h2 { font-family: "宋体"; font-size: .16rem; line-height: .34rem; padding-top: .2rem; color: #1f2229; }
.section2 .sTitle { background-image: url(../images/indexTitle-bg1.png); }
.section2 .s2txt { display: none; }
.section2 .s2txt-phone { width: 100%; text-align: center; }
.section2 .s2txt-phone p { font-family: "宋体"; font-size: .16rem; line-height: .3rem; color: #1f2229; }
.section2 .s2list { width: 6.27rem; margin-left: .13rem; padding-top: .2rem; }
.section2 .s2list li { float: left; width: 1.42rem; height: 2.24rem; margin-right: .13rem; margin-bottom: .2rem; }
.section2 .s2list .img { line-height: 1.42rem; width: 1.42rem; height: 1.64rem; text-align: center; background: url(../images/s2list-bg2.png) no-repeat; background-size: 100%; }
.section2 .s2list .img img { width: 100%; }
.section2 .s2list li.active .img { background: url(../images/s2list-bg1.png) no-repeat; background-size: 100%; }
.section2 .s2list .txt{ width: 100%; height: .38rem; text-align: center; line-height: .38rem; display: none; }
.section2 .s2list .txt img{ height: 100%; }
.section2 .s2list .p1 { font-size: .2rem; line-height: .6rem; text-align: center; color: #030303; }
.section2 .s2list .p2 { display: none; }

.section3 .sTitle { background-image: url(../images/indexTitle-bg1.png); }
.section3 .s3box1 { width: 100%; height: .8rem; margin-top: .15rem; background: #1f2229; }
.section3 .s3box2 { display: none; }
.section3 .s3box2-phone { width: 100%; padding: .15rem 0; }
.section3 .s3box2-phone p { font-family: "宋体"; font-size: .16rem; line-height: .27rem; text-align: center; color: #252525; }
.section3 .s3box3 { background: #1f2229; }
.section3 .s3box3 .s3L {float: none; overflow: hidden; width: 6rem; }
.section3 .s3box3 .s3L img { float: left; width: 2.6rem; }
.section3 .s3box3 .s3L p {font-family: "宋体"; font-size: .16rem; line-height: .28rem; float: left; width: 3rem;  margin-top: 1.3rem; margin-left: .1rem; color: rgba( 255, 255, 255, .439 ); }
.section3 .s3box3 .s3R {float: none;  width: 6rem; margin: 0 auto; }

.section3 .s3box3 .s3Rtop .item { line-height: .64rem; position: relative; height: .64rem; text-align: right; }
.section3 .s3box3 .s3Rtop .item:after { position: absolute; z-index: 1; top: .3rem; left: 0; display: block; width: 80%; height: 0; content: ""; border-bottom: 1px dashed #84868a; }
.section3 .s3Rtop .item span, .section3 .s3Rtop .item img { position: relative; z-index: 5; }
.section3 .s3Rtop .item span { font-family: "宋体"; font-size: .14rem; padding-left: 5px; color: rgba( 255, 255, 255, .67 ); background: #1f2229; }
.section3 .s3Rtop .item span strong { font-family: "微软雅黑"; font-weight: bold; font-size: .3rem; font-weight: normal; padding: 0 2px; }
.section3 .s3Rtop .item img { width: .6rem; }
.section3 .s3box3 .s3Rmid { padding-top: .15rem; }
.section3 .s3box3 .s3Rmid p {font-family: "宋体"; font-size: .14rem; line-height: .28rem;  width: 5.4rem; color: rgba( 255, 255, 255, .67 ); }
.section3 .s3box3 .s3Rmid .img { line-height: .42rem; width: .6rem; }
.section3 .s3box3 .s3Rmid .img img { width: 100%; }

.section3 .s3Rbottom {position: relative;  width: 6.1rem; margin: 0 auto; padding-top: .2rem; padding-bottom: .3rem; }
.section3 .s3Rbottom .p1 { font-family: "宋体"; font-size: .12rem; line-height: .5rem; position: relative; color: #32c9d5; background: #1f2229; }
.section3 .s3Rbottom .p1:after { position: absolute; top: 70%; right: 5px; display: block; width: 100%; height: 1px; content: ""; background: #32c9d5; }
.section3 .s3Rbottom .p2 { font-family: "宋体"; font-size: .14rem; line-height: .48rem; position: relative; padding-left: .3rem; color: #fff; }
.section3 .s3Rbottom .p2:after { position: absolute; top: .16rem; left: 0; display: block; width: .15rem; height: .15rem; content: ""; border: 1px solid #31c5d2; border-radius: 50%; }
.section3 .s3Rbottom .tel { position: absolute; right: .14rem; bottom: .26rem; width: 2.07rem; height: 1.29rem; background: url(../images/s3tel-bg.png) no-repeat; background-size: 100%; }
.section3 .s3Rbottom .tel h3 { font-family: "宋体"; font-size: .16rem; line-height: .2rem; padding-top: .3rem; padding-left: .26rem; color: #1f2229; }
.section3 .s3Rbottom .tel a { font-family: "Candara"; font-size: .26rem; line-height: .3rem; padding-left: .26rem; color: #1f2229; }
.section3 .s3Rbottom .tel span { font-family: "宋体"; font-size: .16rem; line-height: .3rem; margin-left: .95rem; color: #1f2229; }

.section4 { width: 100%; padding-top: .16rem; background: #ca192b; }
.section4 .sTitle { background-image: url(../images/indexTitle-bg2.png); }
.section4 .sTitle .p1 { color: #fff; }
.section4 .sTitle .p2 { color: #fff; }
.section4 .sTitle h2 { color: #fff; }
.section4 .s4p { font-family: "宋体"; font-size: .18rem; text-align: center; color: #fff; }
.section4 .s4list { overflow: hidden; width: 6.3rem; margin: .2rem auto 0; padding-bottom: 30px; }
.section4 .s4list ul { overflow: hidden; width: 6.4rem; }
.section4 .s4list li { position: relative; float: left; width: 3.1rem; height: 2.55rem; margin-right: .06rem; margin-bottom: .06rem; }
.section4 .s4list li img { width: 100%; height: 100%; }
.section4 .s4list .swiper-pagination-bullet { width: 8px; height: 8px; margin: 0 2px; opacity: .55; background: #fff; }
.section4 .s4list .swiper-pagination-bullet-active { opacity: 1; }
.section4 .s4list .hoverShow{ display: none; }

/* 888888888888888888 */
/*.section4 .s4list li:hover .hoverShow { display: block; }
.section4 .s4list .hoverShow { position: absolute; top: 0; left: 0; display: none; width: 100%; height: 100%; }
.section4 .s4list .hoverShow:after { position: absolute; z-index: 1; top: 0; left: 0; display: block; width: 100%; height: 100%; content: ""; background: rgba(0,0,0,.68); }
.section4 .s4list h3 { font-family: "宋体"; font-size: 14px; line-height: 22px; position: absolute; z-index: 10; bottom: 28px; left: 7px; color: #fff; }
.section4 .s4list p { font-family: "宋体"; font-size: 12px; line-height: 20px; position: absolute; z-index: 10; bottom: 8px; left: 7px; color: #fff; }*/
/* 888888888888888888 */


.section4 .swiper-pagination-bullet { width: 16px; height: 16px; border-radius: 50%; background: rgba(255,255,255,.8); }
.section4 .swiper-pagination-bullet-active { background: #fff; }

.section5 { width: 100%; padding-top: .4rem; padding-bottom: .35rem; background: #ca192b; }
.section5 .sTitle { background-image: url(../images/indexTitle-bg2.png); }
.section5 .sTitle .p1 { color: #fff; }
.section5 .sTitle .p2 { color: #fff; }
.section5 .sTitle h2 { color: #fff; }
.section5 .s5p { font-family: "宋体"; font-size: .18rem; text-align: center; color: #fff; }
.section5 .address { margin-top: 10px; text-align: center; }
.section5 .address p.p1 { font-family: "Times New Roman","微軟正黑體"; font-weight: bold;  font-size: .2rem; line-height: .4rem; color: #fff; }
.section5 .address p.p2 { font-family: "Times New Roman","微軟正黑體"; font-size: .2rem; line-height: .4rem; color: #fff; }
.section5 .address p.p2 a{ color: #fff; }
.section5 .address p.tel{ display: none;}
.section5 .address p.tel a { font-family: "Candara"; font-size: 45px; line-height: 48px; position: relative; padding-left: 23px; color: #fff; }
.section5 .address p.tel a:after { position: absolute; top: 0; left: 0; display: block; width: 23px; height: 48px; content: ""; background: url(../images/phone-bg.png) no-repeat; }
.section5 .QR-code { width: 3rem; height: 3rem; margin: .3rem auto 0; }
.section5 .QR-code img { width: 100%; height: 100%; }

.section6 { width: 100%; padding-top: .4rem; background: #1f2228; }
.section6 .sTitle { background-image: url(../images/indexTitle-bg3.png); }
.section6 .sTitle .p1 { color: #d70e23; }
.section6 .sTitle .p2 { color: #fff; }
.section6 .sTitle h2 { color: #fff; }
.section6 .s6p { font-family: "宋体"; font-size: .18rem; text-align: center; color: #fff; }
.section6 .s6list { width: 6rem; margin: .2rem auto 0; }
.section6 .s6list ul { padding-bottom: .2rem; }
.section6 .s6list li { font-family: "宋体"; font-size: 16px; line-height: .7rem; position: relative; overflow: hidden; width: 6rem; white-space: nowrap; text-overflow: ellipsis; color: #fff; }
.section6 .s6list li:before { position: absolute; top: .3rem; left: 0; display: block; width: 3px; height: 3px; content: ""; border-radius: 50%; background: #fff; }
.section6 .s6list li a { line-height: .7rem; padding-left: 10px; color: #fff; }
.section6 .s6list li:hover a { color: #d70e23; }
.section6 .s6list li:hover:before { background: #d70e23; }

.floatBar { position: fixed; z-index: 100; top: 30%; right: 0; width: 35px; padding: 15px 0; border-radius: 5px 0 0 5px; background: #32373d; }
.floatBar .item { width: 35px; height: 45px; text-align: right; }
.floatBar .item i { font-size: 22px; line-height: 45px; padding-right: 2px; color: #d0d0d0; }
.floatBar .item .box { position: absolute; top: 15px; right: 35px; display: none; width: 133px; height: 133px; border-radius: 5px 0 0 5px; background: #32373d; }
.floatBar .item .wechat-box { line-height: 133px; text-align: center; }
.floatBar .item .wechat-box img { width: 115px; height: 115px; }
.floatBar .item .phone-box { box-sizing: border-box; padding-top: 6px; }
.floatBar .item .phone-box .tel-number { padding-top: 15px; padding-left: 15px; text-align: left; }
.floatBar .phone-box .tel-number .p1 { font-family: "宋体"; font-size: 12px; line-height: 20px; color: #fff; }
.floatBar .phone-box .tel-number .p2 a { font-family: "Times New Roman"; font-size: 18px; line-height: 20px; color: #fff; }
.floatBar .item .qq-box { box-sizing: border-box; padding-top: 12px; text-align: left; }
.floatBar .item .qq-box p { font-family: "宋体"; font-size: 12px; line-height: 18px; margin-left: 20px; color: #fff; }
.floatBar .item .qq-btn { width: 74px; height: 22px; margin: 9px auto 8px 20px; padding: 5px 7px; border: 1px solid #ca192b; border-radius: 4px; }

/* 案例展示 */
.case { width: 100%; }
.caseTop { width: 6rem; height: 1.82rem; margin: 0 auto; background: url(../images/case-title.png) no-repeat #fff; background-size: auto 1.82rem; }
.caseTop .position { display: none; }
.caseTop .minNav {float: right;  width: 1rem; margin-top: .16rem; }
.caseTop .minNav li { line-height: .37rem; width: 1rem; height: .37rem; margin-bottom: .12rem; text-align: center; border: 1px solid #1b1b1b; background: #49494e; }
.caseTop .minNav li.active { border-color: #c5000f; background: #e6000f; }
.caseTop .minNav li a { font-family: "宋体"; font-size: .22rem; display: block; width: 100%; height: 100%; color: #fff; }

.caseList { overflow: hidden; width: 6.3rem; margin: .2rem auto 0; padding-bottom: .9rem; }
.caseList > ul { overflow: hidden; width: 6.4rem; }
.caseList > ul li { position: relative; float: left; width: 3.1rem; height: 2.55rem; margin-right: .06rem; margin-bottom: .06rem; }
.caseList > ul li img { width: 100%; height: 100%; }
.caseList .pages{ margin-top: 20px; }
.caseList .hoverShow{ display: none; }



/* 客户案例 内页 */
.caseDetail { position: relative; width: 100%; padding-top: 1rem; }
.caseDetail .txt { width: 6rem; margin: 0 auto; padding-top: 10px; }
.caseDetail .txt h1 { font-size: 16px; font-weight: bold; line-height: 38px; color: #111; }
.caseDetail .txt p { font-family: "宋体"; font-size: 14px; line-height: 26px; color: #6a6969; }
.caseDetail .img { width: 6rem; margin: 0 auto; }
.caseDetail .img img { width: 100%; }
.caseDetail .btns { position: absolute; top: 0; left: 0; width: 1.8rem; height: .5rem; }
.caseDetail .btns a {font-family: "宋体"; font-size: .5rem; line-height: .5rem;  position: absolute; top: 0;display: block; width: .5rem; height: .5rem; margin: 0 4px; text-align: center; color: #fff; background: #7d7d7d; }
.caseDetail .btns a.active { background: #e70014; }
.caseDetail .btns a.back{ background: url(../images/btn-bg.png); left: .58rem; background-size: auto .5rem; }
.caseDetail .btns a.prev { left: 0; }
.caseDetail .btns a.next { right: 0; }

.caseDetail .pages { margin-bottom: 30px; }
.caseDetail .pages span, .caseDetail .pages a { margin: 0 1px; }

/* 关于我们 */
.about { overflow: hidden; width: 100%; height: 9.5rem; background: url(../images/about-phone-bg.jpg) top center no-repeat; background-size: cover; }
.about .wrap { position: relative; padding-top: .24rem; }
.about .about-box .btn {float: none;  width: 1.16rem; height: 1.35rem; }
.about .about-box .btn a { font-size: .2rem; line-height: .64rem; display: block; width: 1.16rem; height: .64rem; margin-bottom: 2px; text-align: center; color: #fff; background: rgba(230, 0, 15,.35); }
.about .about-box .btn a.active { background: rgba(230, 0, 15,.9); }
.about .about-box .txt {float: none;  width: 100%; margin-top: .8rem; }
.about .about-box .txt .item { color: #fff; width: 6rem; margin: 0 auto; font-family: "微軟正黑體"; display: none; }
.about .about-box .txt .item:first-child{ display: block; }
.about .about-box .txt .item img{ display: none;}
/*.about .about-box .zz { padding-top: 7px; }
.about .about-box .zz h2 { font-size: 36px; line-height: 80px; color: #fff; }
.about .about-box .zz .p1 { font-size: 12px; line-height: 20px; color: #fff; }
.about .about-box .zz .p2 { font-size: 14px; line-height: 40px; color: #fff; }

.about .about-box .gy { display: none; }
.about .about-box .gy h2 { font-size: 36px; line-height: 80px; color: #fff; }
.about .about-box .gy .p1 { font-size: 12px; line-height: 24px; color: #fff; }
.about .about-box .gy .p2 { font-size: 14px; line-height: 40px; color: #fff; }
*/
/* 联系我们 */
.contact { position: relative; overflow: hidden; width: 100%; background: url(../images/contact-phone-bg.jpg) top center no-repeat; background-size: 100%; padding-top: .3rem; }
.contact .contact-box { width: 6rem; margin: 0 auto; }
.contact .contact-box .floatl, .contact .contact-box .floatr { float: none; }
.contact .QRcode { width: 6rem; padding:.8rem 0 2.66rem;background: url(../images/address-phone-bg.png) no-repeat bottom; background-size: 100%; text-align: center; }
.contact .QRcode img { width: 3rem; }
.contact .QRcode p { font-size: 16px; font-weight: bold; line-height: 34px; color: #000; }
.contact .address { width: 100%; }
.contact .address .tel { font-family: "Candara"; font-size: 26px; line-height: 40px; padding-left: 15px; color: #1c1c1c; background: url(../images/phone-bg.png) no-repeat left center; background-size: auto 30px; }
.contact .address .txt p { font-family: "Times New Roman","微軟正黑體"; font-weight: bold; font-size: 14px; line-height: 30px; color: #1c1c1c; }

/* 行业新闻 */
.news { width: 6rem; margin: 0 auto; padding-top: 1.92rem; background: url(../images/news-title.png) no-repeat; background-size: auto 1.92rem; }
.newsTop { display: none; }
.newsBody { width: 100%; margin: 0 auto; }
.newsBody .floatl, .newsBody .floatr { float: none; }
.newsBody .news-content { width: 100%; padding-top: 14px; border: 1px solid #b5b5b5; }
.newsBody .news-content h1 { font-size: 16px; font-weight: bold; line-height: 24px; text-align: center; color: #010101; }
.newsBody .news-content .info { font-family: "宋体"; font-size: 12px; line-height: 24px; text-align: center; color: #7f7f7f; }
.newsBody .news-content .info span { display: inline-block; }
.newsBody .news-content .article { width: 5.8rem; margin: .25rem auto 0; padding-bottom: .4rem; }
.newsBody .news-content .article p{ font-family: "宋体"; font-size: 14px; line-height: 30px; color: #696969; }

.newsBody .news-aside { width: 5.4rem; margin: 0 auto; padding: 20px 0; }
.newsBody .news-aside .news-list h2 { font-size: 16px; font-weight: bold; line-height: 30px; padding-top: 4px; color: #010101; }
.newsBody .news-aside .news-list li { font-family: "宋体"; font-size: 14px; line-height: 36px; position: relative; overflow: hidden; padding-left: 16px; white-space: nowrap; text-overflow: ellipsis; color: #7f7f7f; border-bottom: 1px solid #bfbfbf; }
.newsBody .news-aside .news-list li:before { position: absolute; top: 16px; left: 2px; display: block; width: 5px; height: 5px; content: ""; border-radius: 50%; background: #a0a0a0; }
.newsBody .news-aside .news-list li a { color: #7f7f7f; }
.newsBody .news-aside .box { display: none; }
.newsBody .news-aside .btns{ display: none; }

.sub-address { width: 100%; padding: .2rem 0 .3rem; background: #1f2228; }
.sub-address .address h2 {font-size: .16rem; font-weight: bold; line-height: .28rem;  text-align: center; color: rgba(255,255,255,.5); }
.sub-address .address { margin-top: 20px; text-align: center; }
.sub-address .address p.p1 { font-size: .2rem; line-height: .4rem; color: rgba(255,255,255,.5); }
.sub-address .address p.tel span { font-family: "Candara"; font-size: .45rem; line-height: .48rem; color: #fff; }
.sub-address .QR-code { display: none; }
.sub-address .QR-code img{ width: 100%; height: 100%; }
