@charset "UTF-8";
/**
 * 
 * @authors Logan
 * @date    2016-12-01 08:50:40
 * @version 1.0
 */

.wrap { width: 1200px; margin: 0 auto; }
/* 首页 */
.header { width: 100%; min-width: 1200px; height: 60px; background: #1f2228; }
.header .logo { font-family: "宋体"; font-size: 14px; line-height: 60px; color: #fff; }
.header .nav li { line-height: 60px; float: left; background-size: 0;}
.header .nav li a { font-family: "宋体"; font-size: 14px; display: block; padding: 0 30px; color: #fff; }
.header .nav li a:hover, .header .nav li a.active { background: #e6000f; }

.banner { width: 100%; min-width: 1200px; height: 790px; }
.banner .swiper-slide { width: 100%; min-width: 1200px; height: 790px; background-position: top center; }
/*.banner .swiper-pagination-bullet{ background: #000; }*/

.section { width: 100%; min-width: 1200px; }
.section1 { padding-bottom: 45px; }
.section1 h3 { font-size: 63px; font-style: italic; line-height: 170px; text-align: center; color: #2d2829; }
.section1 .ballsWrap { position: relative; overflow: hidden; width: 100%; min-width: 1200px; height: 600px; background: url(../images/s1-bg.png) no-repeat center; background-size: 100% 100%; }
.section1 .ballsWrap .ball {position: absolute; top: 0; left: 0;  display: table; cursor: pointer; text-align: center; opacity: 0; color: #fff; border-radius: 50%; }
.section1 .ballsWrap .ball span { display: block; width: 100%; height: 100%; border-radius: 50%; }
.section1 .ballsWrap .balla span { background: #cbcbcb; }
.section1 .ballsWrap .balla span:hover { background: #32373d; }
.section1 .ballsWrap .ballb span { background: #32373d; }
.section1 .ballsWrap .ballb span:hover { background: #cbcbcb; }
.section1 .ballsWrap .ball1 { width: 116px; height: 116px; transition: all .5s 3s; }
.section1 .ballsWrap .ball2 { width: 180px; height: 180px; transition: all .5s 2.5s; }
.section1 .ballsWrap .ball3 { width: 150px; height: 150px; transition: all .5s 2s; }
.section1 .ballsWrap .ball4 { width: 218px; height: 218px; transition: all .5s 1.5s; }
.section1 .ballsWrap .ball5 { width: 160px; height: 160px; transition: all .5s 1s; }
.section1 .ballsWrap .ball6 { width: 126px; height: 126px; transition: all .5s .5s; }
.section1 .ballsWrap .ball7 { width: 186px; height: 186px; transition: all .5s; }

.section1 .ballsWrap.on .ball { opacity: 1; }
.section1 .ballsWrap.on .ball1 {top: 270px;  left: 12.5%; }
.section1 .ballsWrap.on .ball2 {top: 160px;  left: 24%; }
.section1 .ballsWrap.on .ball3 {top: 50px;  left: 42%; }
.section1 .ballsWrap.on .ball4 {top: 270px;  left: 48%; }
.section1 .ballsWrap.on .ball5 {top: 153px;  left: 62%; }
.section1 .ballsWrap.on .ball6 {top: 15px;  left: 72.5%; }
.section1 .ballsWrap.on .ball7 {top: 230px;  left: 80%; }

.ad { width: 100%; min-width: 1200px; background: #32373d; }
.ad1{ background: url(../images/ad1.png) no-repeat top center; height: 120px; margin-bottom: 45px; }
.ad2{ background: url(../images/ad2.png) no-repeat top center; height: 92px; }

.section2 { padding-top: 72px; background: url(../images/s2-bg.png) no-repeat top center; }
.section .sTitle { text-align: center; background-repeat: no-repeat; background-position: top center; }
.section .sTitle .p1 { font-family: "微软雅黑"; font-size: 120px; line-height: 120px; color: #1f2229; }
.section .sTitle .p2 { font-family: "Sakkal Majalla"; font-size: 18px; font-weight: bold; line-height: 18px; letter-spacing: 2px; text-transform: uppercase; color: #000; }
.section .sTitle h2 { font-family: "宋体"; font-size: 16px; line-height: 52px; padding-top: 20px; color: #1f2229; }
.section2 .sTitle { background-image: url(../images/indexTitle-bg1.png); }
.section2 .s2txt { width: 1200px; margin: 0 auto; text-align: center; }
.section2 .s2txt-phone{ display: none; }
.section2 .s2txt p { font-family: "宋体"; font-size: 14px; line-height: 26px; color: #1f2229; }
.section2 .s2list { width: 1200px; margin: 0 auto; padding-top: 82px; }
.section2 .s2list li { float: left; width: 300px; height: 322px; margin-bottom: 70px; cursor: pointer; transition: all 1s; transform: scale(.5); opacity: 0; }
.section2 .s2list.on li { transform: scale(1); opacity: 1; }
.section2 .s2list .img { line-height: 245px; width: 213px; height: 245px; margin: 0 auto; transition: all 1s; text-align: center; background: url(../images/s2list-bg2.png) no-repeat; }
.section2 .s2list li:hover .img {transform: scale(1.2);  background: url(../images/s2list-bg1.png); }
.section2 .s2list .txt{ width: 100%; height: 38px; margin-top: 38px; text-align: center; line-height: 38px; }
.section2 .s2list .p1 { display: none; }
.section2 .s2list .p2 { display: none; }

.section3 .sTitle { background-image: url(../images/indexTitle-bg1.png); }
.section3 .s3box1 {line-height: 90px;  width: 100%; height: 90px; background: #1f2229; }
.section3 .s3box2 { width: 100%; padding: 26px 0 22px; }
.section3 .s3box2 p { font-family: "宋体"; font-size: 14px; line-height: 28px; text-align: center; color: #252525; }
.section3 .s3box2-phone{ display: none; }
.section3 .s3box3 { background: #1f2229; }
.section3 .s3box3 .s3L {width: 265px;  margin-left: 48px; }
.section3 .s3box3 .s3L p { font-family: "宋体"; font-size: 12px; line-height: 28px; width: 205px; margin-left: 6px; color: rgba( 255, 255, 255, .439 ); }
.section3 .s3box3 .s3R { width: 800px; margin-right: 65px; }
.section3 .s3box3 .s3Rtop { padding-top: 42px; }
.section3 .s3box3 .s3Rtop .item {line-height: 64px; position: relative; height: 64px;  text-align: right; }
.section3 .s3box3 .s3Rtop .item:after {position: absolute; z-index: 1; top: 38px; left: 0; display: block; width: 100%; height: 0;  content: ""; border-bottom: 1px dashed #84868a; }
.section3 .s3Rtop .item span, .section3 .s3Rtop .item img { position: relative; z-index: 5; }
.section3 .s3Rtop .item span { font-family: "宋体"; font-size: 14px; padding-left: 20px; color: #fff; background: #1f2229; }
.section3 .s3Rtop .item span strong { font-family: "Microsoft Tai Le"; font-size: 30px; font-weight: normal; padding: 0 8px; }
.section3 .s3box3 .s3Rmid { padding-top: 15px; }
.section3 .s3box3 .s3Rmid p { font-family: "宋体"; font-size: 14px; line-height: 28px; width: 714px; padding-right: 25px; letter-spacing: 1px;color: rgba( 255, 255, 255, .67 ); }
.section3 .s3box3 .s3Rmid .img {line-height: 80px;  width: 60px; height: 84px; }
.section3 .s3Rbottom {position: relative;  padding-top: 40px; padding-bottom: 25px; }
.section3 .s3Rbottom .p1 { font-family: "宋体"; font-size: 12px; line-height: 84px; position: relative; color: #32c9d5; background: #1f2229; }
.section3 .s3Rbottom .p1:after {position: absolute; top: 50%;right: 5px; display: block; width: 450px; height: 1px;  content: ""; background: #32c9d5; }
.section3 .s3Rbottom .p2 {font-family: "宋体"; font-size: 14px; line-height: 50px; position: relative;  padding-left: 30px; color: #fff; }
.section3 .s3Rbottom .p2:after {position: absolute; top: 16px; left: 0;display: block; width: 12px; height: 12px;  content: ""; border: 2px solid #31c5d2; border-radius: 8px; }
.section3 .s3Rbottom .tel {position: absolute; right: 17px; bottom: 44px;  width: 207px; height: 129px; background: url(../images/s3tel-bg.png) no-repeat; }
.section3 .s3Rbottom .tel h3 { font-family: "宋体"; font-size: 16px; line-height: 20px; padding-top: 30px;  padding-left: 26px; color: #1f2229; }
.section3 .s3Rbottom .tel a {font-family: "Candara"; font-size: 30px; line-height: 30px;  padding-left: 26px; color: #1f2229; }
.section3 .s3Rbottom .tel span { font-family: "宋体"; font-size: 16px; line-height: 30px;  margin-left: 95px; color: #1f2229; }

.section4 {width: 100%; min-width: 1200px; padding-top: 25px;  background: #ca192b; }
.section4 .sTitle { background-image: url(../images/indexTitle-bg2.png); }
.section4 .sTitle .p1 { color: #fff; }
.section4 .sTitle .p2 { color: #fff; }
.section4 .sTitle h2 { color: #fff; }
.section4 .s4p { font-family: "宋体"; font-size: 14px; text-align: center; color: #fff; }
.section4 .s4list {overflow: hidden;  width: 1200px; margin: 65px auto 0; padding-bottom: 20px; }
.section4 .s4list ul {overflow: hidden;  width: 1300px; }
.section4 .s4list li {position: relative; float: left;  width: 369px; height: 311px; margin-right: 48px; margin-bottom: 30px; transition: all 1s;transform: rotate(-90deg) scale(.5); opacity: 0; }
.section4 .s4list.on li { transform: rotate(0) scale(1); opacity: 1; }
.section4 .s4list li img{ width: 100%; height: 100%; }
.section4 .s4list li:hover .hoverShow { display: block; }
.section4 .s4list .hoverShow {position: absolute; top: 0; left: 0; display: none;  width: 100%; height: 100%; }
.section4 .s4list .hoverShow:after {position: absolute; z-index: 1; top: 0; left: 0; display: block; width: 100%; height: 100%;  content: ""; background: rgba(0,0,0,.68); }
.section4 .s4list h3 {font-family: "宋体"; font-size: 14px;  line-height: 22px; position: absolute; z-index: 10;bottom: 28px; left: 7px; color: #fff; }
.section4 .s4list p {font-family: "宋体"; font-size: 12px;  line-height: 20px; position: absolute; z-index: 10;bottom: 8px; left: 7px; color: #fff; }

.section4 .swiper-pagination-bullet { width: 16px; height: 16px; border-radius: 50%; background: rgba(255,255,255,.8); }
.section4 .swiper-pagination-bullet-active { background: #fff; }

.section5 {width: 100%; min-width: 1200px; padding-top: 58px; padding-bottom: 90px;  background: #ca192b; }
.section5 .sTitle { background-image: url(../images/indexTitle-bg2.png); }
.section5 .sTitle .p1 { color: #fff; }
.section5 .sTitle .p2 { color: #fff; }
.section5 .sTitle h2 { color: #fff; }
.section5 .s5p { font-family: "宋体"; font-size: 14px; text-align: center; color: #fff; }
.section5 .address { margin-top: 20px; text-align: center; }
.section5 .address p.p1 { font-family: "Times New Roman", "微軟正黑體"; font-weight: bold; font-size: 14px; line-height: 28px; color: #fff; }
.section5 .address p.p2 { font-family: "Times New Roman","微軟正黑體"; font-size: 14px; line-height: 28px; color: #fff; }
.section5 .address p.p2 a{ color: #fff; }
.section5 .address p.tel a { font-family: "Candara"; font-size: 45px; line-height: 48px;padding-left: 23px; color: #fff; background: url(../images/phone-bg.png) no-repeat left center; }
.section5 .QR-code { width: 300px; height: 300px; margin: 30px auto 0; }

.section6 {width: 100%; min-width: 1200px; padding: 25px 0 30px;  background: #1f2228; }
.section6 .sTitle { background-image: url(../images/indexTitle-bg3.png); }
.section6 .sTitle .p1 { color: #d70e23; }
.section6 .sTitle .p2 { color: #fff; }
.section6 .sTitle h2 { color: #fff; }
.section6 .s6p { font-family: "宋体"; font-size: 14px; text-align: center; color: #fff; }
.section6 .s6list{ width: 1200px; margin: 38px auto 0; }
.section6 .s6list ul{ width: 1160px; margin-left: 40px; }
.section6 .s6list li{ width: 580px; float: left; line-height: 48px; font-family: "宋体"; font-size: 14px; position: relative; }
.section6 .s6list li:before{content: ""; display: block; position: absolute; top: 20px; left: 3px; background: #fff; width: 5px; height: 5px; border-radius: 50%;}
.section6 .s6list li a{ padding-left: 18px; color: #fff; line-height: 48px; }
.section6 .s6list li:hover a{ color: #d70e23; }
.section6 .s6list li:hover:before{ background: #d70e23; }

.floatBar {position: fixed; z-index: 100; top: 30%; right: 0;  width: 50px; padding: 15px 0; border-radius: 5px; background: #32373d; }
.floatBar .item { width: 50px; height: 65px; text-align: center; }
.floatBar .item i {font-size: 30px; line-height: 65px;  text-align: center; color: #d0d0d0; }
.floatBar .item .box {position: absolute; top: 35px; right: 50px; display: none; width: 153px; height: 163px; border-radius: 5px 0 0 5px; background: #32373d; }
.floatBar .item .wechat-box {line-height: 163px;  text-align: center; }
.floatBar .item .wechat-box img { width: 125px; height: 125px; }
.floatBar .item .phone-box { box-sizing: border-box; padding-top: 12px; }
.floatBar .item .phone-box .tel-number { padding-top: 20px; padding-left: 23px; text-align: left; }
.floatBar .phone-box .tel-number .p1 { font-family: "宋体"; font-size: 12px; line-height: 20px; color: #fff; }
.floatBar .phone-box .tel-number .p2 a { font-family: "Times New Roman"; font-size: 18px; line-height: 20px; color: #fff; }
.floatBar .item .qq-box { box-sizing: border-box; padding-top: 24px; text-align: left; }
.floatBar .item .qq-box p {font-family: "宋体"; font-size: 12px; line-height: 24px;  margin-left: 27px; color: #fff; }
.floatBar .item .qq-btn { width: 74px; height: 22px; margin: 9px auto 8px 27px; padding: 5px 7px; border: 1px solid #ca192b; border-radius: 4px; }

/* 案例展示 */
.case{ width: 100%; min-width: 1200px; background: url(../images/case-top-bg.png) no-repeat; }
.caseTop{ width: 1200px; height: 240px; margin: 0 auto; background: url(../images/case-title.png) no-repeat #fff; }
.caseTop>.floatr{ width: 330px; }
.caseTop .position{ padding-top: 70px; }
.caseTop .position a{ color: #1f2228; }
.caseTop .position p{ font-family: "宋体"; font-size: 12px; color: #1f2228; line-height: 30px; padding-left: 15px; background: url(../images/arrow.png) left center no-repeat; }
.caseTop .minNav li{ float: left; margin-left: 7px; width: 99px; height: 31px; text-align: center; line-height: 31px; border: 1px solid #1b1b1b; background: #49494e; }
.caseTop .minNav li:hover{ background: #e6000f; border-color: #c5000f; }
.caseTop .minNav li a{ display: block; width: 100%; height: 100%; font-size: 12px; font-family: "宋体"; color: #fff; }

.caseList {overflow: hidden;  width: 1200px; margin: 65px auto 0;}
.caseList ul {overflow: hidden;  width: 1300px; }
.caseList li {position: relative; float: left;  width: 375px; height: 300px; margin-right: 37px; margin-bottom: 47px; }
.caseList li:hover .hoverShow { display: block; }
.caseList li img{ width: 100%; height: 100%; }
.caseList .hoverShow {position: absolute; top: 0; left: 0; display: none;  width: 100%; height: 100%; }
.caseList .hoverShow:after {position: absolute; z-index: 1; top: 0; left: 0; display: block; width: 100%; height: 100%;  content: ""; background: rgba(0,0,0,.68); }
.caseList h3 {font-family: "宋体"; font-size: 14px;  line-height: 22px; position: absolute; z-index: 10;bottom: 8px; left: 7px; color: #fff; }
/*.caseList p {font-family: "宋体"; font-size: 12px;  line-height: 20px; position: absolute; z-index: 10;bottom: 8px; left: 7px; color: #fff; }*/

.caseList .swiper-pagination-bullet { width: 16px; height: 16px; border-radius: 50%; background: #7d7d7d; }
.caseList .swiper-pagination-bullet-active { background: #e70014; }

/* 客户案例 内页 */
.caseDetail{ width: 1200px; margin: 0 auto 100px; position: relative; }
.caseDetail .txt{ width: 160px; padding-top: 48px; float: left; }
.caseDetail .txt h1{ line-height: 40px; font-size: 14px; font-weight: bold; color: #111; }
.caseDetail .txt p{ line-height: 26px; font-family: "宋体"; font-size: 12px; color: #6a6969; }
.caseDetail .img{ width: 975px; float: right; }

.caseDetail .btns{ position: absolute; width: 154px; height:42px; top: 0; left: 0;}
.caseDetail .btns a{ position: absolute; display: block; width: 42px; height: 42px; background: #7d7d7d; margin: 0 4px; font-size: .5rem; line-height: 42px; font-family: "宋体"; color: #fff; text-align: center; top: 0;}
.caseDetail .btns a:hover{ background: #e70014; }
.caseDetail .btns a.back{ background: url(../images/btn-bg.png); left: 51px; }
.caseDetail .btns a.prev{ left: 0; }
.caseDetail .btns a.next{ right: 0; }

.caseDetail .pages{ margin: 80px 0 130px; }

.caseDetail .swiper-pagination-bullet { width: 16px; height: 16px; border-radius: 50%; background: #7d7d7d; }
.caseDetail .swiper-pagination-bullet-active { background: #e70014; }

/* 关于我们 */
.about{ width: 100%; overflow: hidden; background: url(../images/about-bg.jpg) center center no-repeat; }
.about .wrap{ position: relative; }
.about .about-box{ width: 757px; height: 303px; margin-top: -150px; position: absolute; top: 50%; left: 0; }
.about .about-box .btn{ width: 186px; }
.about .about-box .btn a{ display: block; width: 110px; height: 56px; text-align: center; line-height: 56px; font-size: 14px; color: #fff; font-weight: bold; background: rgba(230, 0, 15,0.35); margin-bottom: 1px; }
.about .about-box .btn a.active{ background: rgba(230, 0, 15,0.9) }
.about .about-box .txt{ width: 546px; height: 282px; }
.about .about-box .txt .item{ padding-left: 10px; width: 550px; display: none; }
.about .about-box .item h2{ display: none; }
.about .about-box .item .p1{ display: none; }
.about .about-box .item .p2{ display: none; }
/*.about .about-box .zz h2{ font-size: 75px; color: #fff; line-height: 90px; }
.about .about-box .zz .p1{ font-size: 14px; color: #fff; line-height: 36px; font-weight: bold; margin: 15px 0; }
.about .about-box .zz .p2{ font-size: 16px; color: #fff; line-height: 40px; font-weight: bold; }

.about .about-box .gy{ display: none; }
.about .about-box .gy h2{ font-size: 75px; color: #fff; line-height: 97px; }
.about .about-box .gy .p1{ font-size: 14px; color: #fff; line-height: 36px; font-weight: bold; margin: 45px 0 55px; }
.about .about-box .gy .p2{ font-size: 16px; color: #fff; line-height: 36px; font-weight: bold; }*/


/* 联系我们 */
.contact{ width: 100%; overflow: hidden; background: url(../images/contact-bg.jpg) center center no-repeat; position: relative; }
.contact .contact-box{ width: 910px; height: 410px; position: absolute; top: 50%; left: 50%; margin-left: -455px; margin-top: -205px; background: url(../images/address-bg.png) no-repeat bottom center; }
.contact .QRcode{ width: 216px; }
.contact .QRcode img{ width: 216px; }
.contact .QRcode p{ line-height: 34px; text-align: center; font-size: 16px; font-weight: bold; color: #000; }
.contact .address{ width: 635px; }
.contact .address .tel{ line-height: 80px; padding-left: 24px; background: url(../images/phone-bg.png) no-repeat left center; font-family: "Candara"; color: #1c1c1c; font-size: 44px; }
.contact .address .txt p{ font-family: "Times New Roman","微软雅黑"; font-size: 14px; font-weight: bold; color: #1c1c1c; line-height: 35px; }




/* 行业新闻 */
.news{ width: 100%; min-width: 1200px; background: url(../images/news-top-bg.png) no-repeat; padding-bottom: 130px; }
.newsTop{ width: 1200px; height: 230px; margin: 0 auto; background: url(../images/news-title.png) no-repeat #fff; }
.newsTop>.floatr{ width: 330px; }
.newsTop .position{ padding-top: 70px; }
.newsTop .position a{ color: #1f2228; }
.newsTop .position p{ font-family: "宋体"; font-size: 12px; color: #1f2228; line-height: 30px; padding-left: 15px; background: url(../images/arrow.png) left center no-repeat; }
.newsBody{ width: 1200px; margin: 0 auto; }
.newsBody .news-content{ width: 840px; border: 1px solid #b5b5b5; padding-top: 14px; }
.newsBody .news-content h1{ text-align: center; line-height: 40px; font-size: 16px; font-weight: bold; color: #010101; }
.newsBody .news-content .info{ text-align: center; line-height: 40px; font-family: "宋体"; color: #7f7f7f; font-size: 14px; }
.newsBody .news-content .article{ margin: 25px auto 0; width: 730px; padding-bottom: 40px; }
.newsBody .news-content .article p{ font-family: "宋体"; font-size: 14px; line-height: 30px; color: #7f7f7f; }
.newsBody .news-aside{ width: 330px; }
.newsBody .news-aside .news-list h2{ padding-top: 4px; line-height: 43px; font-size: 16px; font-weight: bold; color: #010101; }
.newsBody .news-aside .news-list li{ line-height: 36px; padding-left: 16px; position: relative; font-family: "宋体"; font-size: 14px; }
.newsBody .news-aside .news-list li:before{ content: ""; display: block; width: 5px; height: 5px; border-radius: 50%; background: #a0a0a0; position: absolute; top: 16px; left: 2px; }
.newsBody .news-aside .news-list li a{ color: #7f7f7f; }
.newsBody .news-aside .news-list li a:hover{ color: #f00;}
.newsBody .news-aside .box{ width: 280px; margin: 50px auto 0; }
.newsBody .news-aside .box .tel{ line-height: 90px; font-size: 44px; color: #1c1c1c; font-family: "Candara"; padding-left: 23px; background: url(../images/phone-bg.png) left center no-repeat; }
.newsBody .news-aside .box .QRcode{ width: 210px; height: 210px; margin: 0 auto; }
.newsBody .news-aside .box .QRcode img{ width: 100%; }
.newsBody .news-aside .btns{ display: none; }

.sub-address{ width: 100%; min-width: 1200px; background: #1f2228; padding: 30px 0 55px; }
.sub-address .address { margin-top: 20px; text-align: center; }
.sub-address .address h2{ text-align: center; font-size: 16px; font-weight: bold; color: rgba(255,255,255,0.5); line-height: 28px; }
.sub-address .address p.p1 { font-size: 14px; line-height: 28px; color: #fff; }
.sub-address .address p.tel span { font-family: "Candara"; font-size: 45px; line-height: 48px;padding-left: 23px; color: #fff; background: url(../images/phone-bg.png) no-repeat left center; }
.sub-address .QR-code { width: 300px; height: 300px; margin: 30px auto 0; }

.pages{ width: 100%; height:20px; text-align: center; margin-bottom: 100px;}
.pages span,.pages a{ display: inline-block; width: 20px; height: 20px; border-radius: 50%; background: #7d7d7d; margin: 0 2px; font-size: 0; line-height: 20px;}
.pages .current{background:#e70014; color: #fff;}